<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id = "mySender" class = "com.larinego.MySender"/>
    <bean id = "senderService" class = "com.larinego.SenderService">
        <property name = "sender" ref="mySender" />
    </bean>
    <bean id = "notifier" class = "com.larinego.Notifier"/>
    <aop:config>
        <aop:aspect id="note" ref="notifier">
            <!--<aop:pointcut id="advice" expression="execution(* *.send(..))" />-->
            <aop:pointcut id="advice" expression="execution(* com.larinego.SenderService.send(..))" />
            <aop:before pointcut-ref="advice" method="notifyBefore"/>
            <aop:after pointcut-ref="advice" method="notifyAfter"/>
        </aop:aspect>
    </aop:config>


</beans>